img {
    width: 30%;
    float: left;
    margin: 1.66%;
}

p {
    font-size: 30px;
    margin-left: 2%;
    font-family: Raleway;
    font-weight: 800;
    text-transform: uppercase;
    border-bottom: 3px solid #F1F1F1;
    width: 30%;
    padding-bottom: 2%;
}

