<%- include("partials/header");  -%>

<p>Love everybody</p>
<p>Love everybody</p>

<h1>You love <%= thingVar %></h1>

<% if(thingVar.toLowerCase() === "pig") { %>
    <p>Sam Kyup Sal</p>

<% } %>

<%- include("partials/footer");  -%>
