body {
  font-family: Roboto;
  background: #a1ffce; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #faffd1,
    #a1ffce
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #faffd1,
    #a1ffce
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#container {
  width: 35%;
  margin: 15% auto;
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

h1 {
  background: #2980b9;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: normal;
}

.fa-plus {
    float: right;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background: #fff;
  height: 40px;
  line-height: 40px;
  color: #666;
}

li:nth-child(2n) {
  background: #f7f7f7;
}

span {
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
    color: white;
}

li:hover span {
    width: 30px;
    opacity: 1.0;
}
input {
  font-size: 1.5rem;
  background: #f7f7f7;
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  color: #2980b9;
}

input:focus {
  background: white;
  border: 3px solid #2980b9;
  outline: none;
}

.completed {
  color: gray;
  text-decoration: line-through;
}
